<footer class = "general_footer">
  <div class = "container_footer_left">
    <div class = "brand_marksales">
      <img class = "logo" src = "images/main-logo2.svg">
      <h2 class = "logo_title">Mark Sales Dev.</h2>
    </div>
    <div class = "footer_line"></div>
    <ul class = "socials_list">
      <a class = "fa-brands fa-linkedin socials_logos"></a>
      <a class = "fa-brands fa-square-instagram socials_logos"></a>
      <a class = "fa-brands fa-square-whatsapp socials_logos"></a>
      <a class = "fa-brands fa-square-github socials_logos"></a>
      <a class = "fa-brands fa-square-behance socials_logos"></a>
    </ul>
    <h5 class = "copyright_footer">Copyright © 2023 MARKSALES-DEV Todos os direitos reservados.</h5>
  </div>

  <div class = "container_footer_right">
    <h2 class = "footer_text_price">FAÇA SEU ORÇAMENTO!</h2>
    <input class = "inputs_price" type = "text" placeholder = "Nome">
    <input class = "inputs_price" type = "text" placeholder = "Email">
    <input onkeyup = "updateFormattedNumber ()" id = "number_input" class = "inputs_price" type = "text" placeholder = "Número (com DDD)">
    <button class = "btn_price_footer">Enviar</button>
  </div>
</footer>