<header id = "header_background">
  <div class = "brand_marksales">
    <img class = "logo" src = "images/main-logo2.svg">
    <h2 class = "logo_title">Mark Sales Dev.</h2>
  </div>

  <nav>
    <ul id = "header_list-nav">
      <li class = "header_list_items"><a class = "btns_header" href="#">Artigos</a></li>
      <li class = "header_list_items"><a class = "btns_header" href="#">Projetos</a></li>
      <li class = "header_list_items"><a class = "btns_header" href="#">Contatos</a></li>
    </ul>
  </nav>

  <a id = "header_main_btn">Fazer orçamento</a>
</header>