<div id = "secondary_header_bg">
  <div class = "sec_container">
    <div>
      <h2 class = "secondary_header_titles">INVESTIMENTO</h2>
      <br>
      <p class = "secondary_header_texts">valores abaixo da média do mercado</p>
    </div>
  </div>
  <div class = "sec_container">
    <div>
      <h2 class = "secondary_header_titles">PERFORMANCE</h2>
      <br>
      <p class = "secondary_header_texts">velocidade e qualidade nas integrações</p>
    </div>
  </div>
  <div class = "sec_container">
    <div>
      <h2 class = "secondary_header_titles">ESCALABILIDADE</h2>
      <br>
      <p class = "secondary_header_texts">sua aplicação pronta para o futuro</p>
    </div>
  </div>
  <div class = "sec_container">
    <div>
      <h2 class = "secondary_header_titles">SOLUÇÕES</h2>
      <br>
      <p class = "secondary_header_texts">arquitetura para o seu negócio digital</p>
    </div>
  </div>
</div>